---
extension: html
filter:    haml
---
!!! Strict
%html{ "xml:lang" => "en", :lang => "en-us", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      = @page.title
    %meta{ :name => "author", :content => @page.author }
    %link{ :href => "/tumblog/rss.xml", :title => "RSS", :rel => "alternate", :type => "application/atom+xml" }
    %link{ :href => "/css/coderay.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %link{ :href => "/css/tumblog.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %script{:type=>"text/javascript", :src=>"/javascripts/blog.js"}
  %body
    %h1
      %a{ :href => "/" }
        Simple Thoughts
      %span{:class => 'subtitle'}
        Saimon Moore's occasional musings
      %a{ :href => "/tumblog/rss.xml" }
        %img#rss{ :src => "/images/tumblog/rss.gif", :alt => "RSS" }
    %h2

    #content
      #description
        %div
          %p
            = link_unless_this_page("/tumblog/index.html", 'Posts')
          %p
            = link_unless_this_page("/tumblog/archive.html", 'Archive')
      = @content
      #footer
        = content_for :footer
        #credit
          Powered by
          %a{ :href => "http://webby.rubyforge.org/" }
            Webby
    :javascript
      (function() {
         var links = document.getElementsByTagName('a');
         var query = '?';
         for(var i = 0; i < links.length; i++) {
           if(links[i].href.indexOf('#disqus_thread') >= 0) {
             query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
           }
         }
         document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/saimonmoorenet/get_num_replies.js' + query + '"></' + 'script>');
       })();

