---
title:  Simple Thoughts
author: Saimon Moore
layout: tumblog/default
filter: haml
dirty:  true
---
- prev = nil
- prev_year = nil
- posts = @pages.find(:all, :layout => 'tumblog/post', :sort_by => :created_at, :reverse => true)
- paginate(posts, 10) do |p|
  %ul
    %li
      .post
        - if prev_year != p.created_at.strftime('%Y')
          = tumblog_year(p.created_at)
        - if prev != p.created_at.strftime('%Y%m%d')
          = tumblog_date(p.created_at)
        - prev = p.created_at.strftime('%Y%m%d')
        - prev_year = p.created_at.strftime('%Y')
    
        %a{ :href => p.url }
          %img.permalink{ :src => "/images/tumblog/permalink.gif", :alt => "permalink" }
        %div{ :class => p.tumblog_type }
          - if p.title
            %h2
              = link_to_page(p)

- content_for :footer do
  = link_to("&#171; Prev", @pager.prev) if @pager.prev?
  = link_to("Next &#187;", @pager.next) if @pager.next?