---
title: Saimon Moore - Portfolio
subtitle: Portfolio
created_at:   2009-03-11 15:04:38.224771 +01:00
filter:
  - haml
---
%h1
  Clients
%p
  These are examples of sites in which I have either been the lead developer or actively involved in it’s development. For further details see my
  = succeed '.' do
    %a{ :href => "http://local.saimonmoore.net/assets/2006/10/12/cv.html" } CV
%ul
  %li
    %a{ :href => "http://fairtilizer.com" }
      Fairtilizer
    – Independent music site for artists, labels and media
    %ul
      %li
        Developer
      %li
        A large rails-based application.
        = surround '(',')' do
          %a{ :href => "http://www.rubyonrails.org" } RubyOnRails
  %li
    %a{ :href => "http://bivakbenoordenhout.nl" }
      Bivak benoordenhout
    – Social network site aiding neighbours of Almere, Netherlands to design a new neighbourhood
    %ul
      %li
        Lead developer &amp; architect
      %li
        A custom ruby application based on
        %a{ :href => "http://www.merbivore.com/" }
          Merb
  %li
    %a{ :href => "http://www.bwcv.es" }
      Bax & Willems
    – Site for consultancy firm
    %ul
      %li
        Lead developer &amp; architect
      %li
        A globalized
        %a{ :href => "http://mephistoblog.com" }
          Mephisto
        application available in 2 languages.
        = surround '(',')' do
          %a{ :href => "http://www.rubyonrails.org" } RubyOnRails
  %li
    %a{ :href => "http://www.fidelico.com" }
      Fidelico
    – Site for Cypriot company specializing in tax solutions for foreign businesses
    %ul
      %li
        Lead developer &amp; architect
      %li
        A customized
        %a{ :href => "http://mephistoblog.com" }
          Mephisto
        application.
        = surround '(',')' do
          %a{ :href => "http://www.rubyonrails.org" } RubyOnRails
  %li
    %a{ :href => "http://www.ibersupport.com" }
      Ibersupport
    – Site for company specializing in advice and support for foreign businesses in Spain
    %ul
      %li
        Lead developer &amp; architect
      %li
        A globalized
        %a{ :href => "http://mephistoblog.com" }
          Mephisto
        application available in 2 languages.
        = surround '(',')' do
          %a{ :href => "http://www.rubyonrails.org" } RubyOnRails
  %ul
    %li
      %a{ :href => "http://www.attensa.com/" }
        Attensa
      River of news eclipse plugin for Lotus Notes
      %ul
        %li
          Developer
        %li
          Written in Java.
  %li
    %a{ :href => "http://www.amicsmuseuprecolombi.org" }
      Amics Museu Precolombi
    – Site for Barcelona’s Museum of Pre-Columbian Art.
    %ul
      %li
        Lead developer &amp; architect
      %li
        A heavily customized
        %a{ :href => "http://mephistoblog.com" }
          Mephisto
        application which I
        %a{ :href => "http://www.webtypes.com/2007/03/18/globalizing-mephisto" }
          globalized
        and is available in 4 languages.
        = surround '(',')' do
          %a{ :href => "http://www.rubyonrails.org" } RubyOnRails
      %li
        Additional custom backend
        %span.caps
          CMS
        modules
      %li
        Additional translation modules
%ul
  %li
    %a{ :href => "http://www.ocium.com" }
      Ocium.com
    – Spanish-based e-commerce site specialising in Jazz music.
    %ul
      %li
        Lead developer &amp; architect
      %li
        Written from scratch in
        %a{ :href => "http://www.ruby-lang.org" }
          Ruby
        using
        %a{ :href => "http://www.rubyonrails.org" }
          RubyOnRails
      %li
        Backoffice management modules
%ul
  %li
    %a{ :href => "http://www.condisline.com" }
      CondisLine.com
    – Supermarket chain’s online shop with home delivery to over 50,000 customers in Spain.
    %ul
      %li
        Lead Developer
      %li
        Written in
        %a{ :href => "http://java.sun.com" }
          Java
        using the “ATG Dynamo 7.0 E-Commerce platform”
      %li
        Backoffice management modules
%ul
  %li
    %a{ :href => "http://www.dabacus.com" }
      ModernaEscuelaMediterranea
    – Logistics management tool for company selling children’s portraits.
    %ul
      %li
        Project Manager/Lead Developer
      %li
        Written in Java/JSP using custom web development platform
%ul
  %li
    %a{ :href => "http://www.phira.com" }
      Phira.com
    – Online catalog for automobile parts company
    %ul
      %li
        Developer
      %li
        Written in Java/JSP
%ul
  %li
    %a{ :href => "http://www.miprimerempleo.com" }
      MiPrimerEmpleo.com
    – Online job bank
    %ul
      %li
        Developer
      %li
        Written in Java/JSP
